body {
    text-align: center;
}

button {
    margin-top: 250px;
    padding: 100px;
    border-radius: 50%;
    border: solid 4px;
    font-size: larger;
    font-weight: 400;
    background-color: red;
}